<div class="wrapperContainer">
    <div class="wrapper">
        <div class="cards_wrap" style="border-top: 1px solid black; border-bottom: 1px solid black;">
            <div class="card_item">
                <div class="card_inner">
                    <div class="card_top">
                        <div class="card_catgory">
                            <p>N° de inscripción en SSN</p>
                            <p>59882</p>
                        </div>
                    </div>
                    <div class="card_bottom">
                        
                    </div>
                    <div class="card_info">
                        
                    </div>
                </div>
            </div>

            <div class="card_item">
                <div class="card_inner">
                    <div class="card_top">
                        <div class="card_catgory">
                            <p>Atención al asegurado</p>
                            <p>0800-666-8400</p>
                        </div>
                    </div>
                    <div class="card_bottom">
                        
                    </div>
                    <div class="card_info">
                        
                    </div>
                </div>
            </div>

            <div class="card_item">
                <div class="card_inner">
                    <div class="card_top">
                        <div class="card_catgory">
                            <p><strong>Organismo de control</strong></p>
                            <p>www.argentina.gob.ar/ssn</p>
                        </div>
                    </div>
                    <div class="card_bottom">
                        
                    </div>
                    <div class="card_info">
                        
                    </div>
                </div>
            </div>

            <div class="imgSSN">
                <img src="../../../assets/images/ssn.png" alt="Logo White">
            </div>
        </div>
    </div>

<div class="footerDiv">
    
</div>