<div class="container" style="background: #907aa5; padding: 25px;">

    <div class="border rounded" style="text-align: center;">
    <label for="basic-url" class="form-label input-group-text" id="inputGroup-sizing-default" style="font-size: large; color: rgb(100, 100, 100);"><strong>Gracias!</strong></label>
        <div style="padding-top: 5%; padding-bottom: 5%;">
            <h2>
                Gracias por Contratar la cobertura
            </h2>
            <h2>
                - DESCRIPCION COBERTURA -
            </h2>
            <h2>
                con Nosotros.
            </h2>
            <h4>
                A la Brevedad nos pondremos en contacto con Usted 
            </h4>
            <h4>
                para acercarle su comprobante de Poliza
            </h4>
        </div>
    </div>  
</div>
