<div class="container" style="background: #907aa5; padding: 25px;">

    <div class="border rounded">
        <label for="basic-url" class="form-label input-group-text" id="inputGroup-sizing-default" style="font-size: large; color: rgb(100, 100, 100);"><strong>Vehiculo</strong></label>
        <form [formGroup]="VehiclesForm">  
        <div class="container">
            <div class="row" style="padding-top: 25px; padding-left: 5%; padding-right: 5%;" >
                
                    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </symbol>
                    </svg>
                   
                    <div class="col-7 col-sm-7">
                        
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Marca</span>
                            <select class="form-select" aria-label="Default select example" 
                            (click)="getCarModels()"
                            id="codigoMarca"
                            formControlName="codigoMarca"
                            name="codigoMarca"
                            required>
                                <option selected aria-label="codigoMarca" value="Seleccione">Seleccione</option>
                                <option *ngFor="let brand of infoautoBrandsList" value="{{brand.id}}">{{brand.name}}</option>                               
                            </select>
                        </div>

                        <div style="color: rgb(255, 213, 213); text-align: center;" *ngIf="!isBrandCompleted">
                            Campo Obligatorio
                        </div>
                           
                        
                             
                    </div>

                    <div class="col-3 col-sm-3">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Año</span>
                                <input type="number" aria-label="First name" class="form-control"
                                (change)="getCarModels()"
                                placeholder="Ej. 2015"
                                id="anioFabricacion"
                                formControlName="anioFabricacion"
                                name="anioFabricacion"
                                required>
                        </div>
                        <div style="color: rgb(255, 213, 213); text-align: center;" *ngIf="!isYearCompleted">
                            Campo Obligatorio
                        </div>
                        <div style="color: rgb(255, 213, 213); text-align: center;" *ngIf="!isYearOk && isYearCompleted">
                            Ingrese Un Año Valido
                        </div>
                    </div> 
                    
                    <div class="col-2 col-sm-2">
                        <div class="input-group mb-3 border rounded">
                            <span class="input-group-text" id="basic-addon1">0KM</span>
                            <input class="form-check-input border rounded" type="checkbox" role="switch" id="flexSwitchCheckDefault" style="margin-left: 12%; margin-top: 7%;"
                            id="es0Km"
                            formControlName="es0Km"
                            name="es0Km">
                        </div>
 
                    </div>
            </div>



            <div class="row" style="padding-top: 25px; ">
                <div class="col-7 col-sm-7">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Modelo</span>
                        <select class="form-select" aria-label="Default select example"
                        value="Seleccione Marca y Año"
                        id="codigoMarcaModelo"
                        formControlName="codigoMarcaModelo"
                        name="codigoMarcaModelo"
                        
                        required>
                            <option selected aria-label="codigoMarcaModelo" >Seleccione Marca y Año</option>
                            <option *ngFor="let model of infoautoModelsList" value="{{model.codia}}">{{model.description}}</option> 
                        </select>
                    </div>
                    <div style="color: rgb(255, 213, 213); text-align: center;" *ngIf="!isModelCompleted">
                        Campo Obligatorio
                    </div>
                </div>

                <div class="col-5 col-sm-5">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        <input type="email" class="form-control" placeholder="Email@example.com" aria-label="userEmail" aria-describedby="basic-addon1"
                        id="userEmail"
                        formControlName="userEmail"
                        name="userEmail"
                        required>
                    </div>
                    <div style="color: rgb(255, 213, 213); text-align: center;" *ngIf="!isEmailCompleted">
                        Campo Obligatorio
                    </div> 
                </div>
            </div> 
            
            <div class="row" style="padding-top: 25px; ">
                <div class="col-1 col-sm-1"></div>
                <div class="col-4 col-sm-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Accesorios</span>
                        <select class="form-select" aria-label="Default select example" 
                        formControlName="carAccessory"
                        (change)=addAccessory()
                        >
                            <option selected aria-label="userGenre" >Seleccione</option>
                            <option *ngFor="let accessory of accessoriesList" value="{{accessory.codigoAccesorio}}" >{{accessory.descripcionAccesorio}}</option> 
                        </select>
                    </div>
                    <div class="alert alert-danger d-flex align-items-center" role="alert"  style="height: 15px;"  *ngIf="false">
                        <svg class="bi flex-shrink-0 me-2" width="15" height="15" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                        <div>
                            An example danger alert with an icon
                        </div>
                        </div> 
                </div>

                

                <div class="col-2 col-sm-2">
                    <div class="input-group mb-3 border rounded">
                        <span class="input-group-text" id="basic-addon1">Alarma</span>
                        <input class="form-check-input border rounded" type="checkbox" role="switch" id="flexSwitchCheckDefault" style="margin-left: 12%; margin-top: 7%;"
                        id="tieneAlarma"
                        formControlName="tieneAlarma"
                        name="tieneAlarma">
                    </div>
                </div>
                <div class="col-4 col-sm-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Uso</span>
                        <select class="form-select" aria-label="Default select example" 
                        id="codigoDeUso"
                        formControlName="codigoDeUso"
                        name="codigoDeUso"
                        required>
                            <option selected aria-label="codigoDeUso" value="Seleccione">Seleccione</option>
                            <option *ngFor="let use of usesList" value="{{use.codigoDeUso}}">{{use.tipoDeUso}}</option>                               
                        </select>
                    </div>
                    <div style="color: rgb(255, 213, 213); text-align: center;" *ngIf="!isUsageCompleted">
                        Campo Obligatorio
                    </div> 
                </div>

                
               
                
            </div>

            <div class="row" style="padding-top: 25px; ">
                
                <div class="row">
                    <div class="col-4 col-sm-4" style="color: rgb(213, 221, 255); text-align: center;" *ngIf="isAccesoriesListFull">
                        Haga Click Sobre el Accesorio para Quitar de la Lista
                    </div> 
                </div>
                <div class="col-1 col-sm-1"></div>
                <div class="col-2 col-sm-2">
                    
                    <div class="row" *ngFor="let selected of selectedAccessories" style="padding-right: 3px ; padding-top: 5px;">     
                            <span class="badge rounded-pill bg-secondary" (click)="deleteAccessory(selected)">{{selected.descripcionAccesorio}}</span>                          
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-sm-8">

            </div>
            <div class="col-4 col-sm-4" style="text-align: end; padding: 5%;">
                    <button type="button" class="btn btn-primary" 
                    (click)="handleContinue()" 
                    >
                        Continuar
                    </button> 
                    <div class="alert alert-danger" *ngIf="!isFormCompleted" style=" text-align: center; margin-top: 5%;">
                        Complete Todos los Campos
                    </div> 
            </div>  
        </div>     
    </form>  
    </div>  
</div>

